<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <form action="/resultados" method="post">
            <input type="text" name="keyword" placeholder="Buscar aqui">
            <button type="submit">Buscar</button>
        </form>
    </body>
