
<!DOCTYPE html>
<html>
<%- include('./head.ejs') %>

    <body>
        <%- include('./navigation.ejs') %>
            <h1>
                <%= title %>
            </h1>
            
    </body>

</html>
